.sidebar {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 280px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidebar a, .sidebar button {
  padding: 10px 15px;
  text-decoration: none;
  font-size: 18px;
  color: white;
  display: block;
}

.sidebar a:hover, .sidebar button:hover {
  color: #f1f1f1;
}

/* Additional flex styles for pushing the logout button to the bottom */
.nav-pills {
  flex: 1;
}

.btn-warning {
  margin-top: auto; /* Pushes the logout button to the bottom */
  margin-left: auto;
  margin-right: auto;
  width: 90%; /* Ensures the button stretches to full width */
  margin-bottom: 10px;
}

.content {
  margin-left: 280px; /* Adjusted to match the width of the sidebar */
  padding: 1px 16px;
  height: 1000px; /* Adjust as needed */
}

@media screen and (max-width: 700px) {
  .sidebar {
      width: 100%;
      height: auto;
      position: relative;
  }
  .sidebar a {
      float: left;
  }
  .content {
      margin-left: 0;
  }
}

@media screen and (max-width: 400px) {
  .sidebar a {
      text-align: center;
      float: none;
  }
}

.modal.show {
  display: block; /* Ensure the modal is displayed when showModal is true */
}
